html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(to bottom, #F0F4FD, #A1A3BA);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
